<div class="center hero-unit">
  <h1>show</h1>

  <ul>
  	<li>
  		name: <%= @user.name %>
  	</li>
  	<li>
  		email: <%= @user.email.nil? ? 'not available' : @user.email %>
  	</li>
  	<li>
  		number of repos: <%= @user.repo_count %>
  	</li>
  </ul>

</div>
